<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#!">GWU Chapter</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li [ngbNavItem]="1" class="nav-item">
          <a ngbNavLink class="nav-link">Home</a>
          <ng-template ngbNavContent>
            <p>test material</p>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" class="nav-item">
          <a ngbNavLink class="nav-link">Calendar</a>
          <ng-template ngbNavContent>
            <p>something else</p>
          </ng-template>
        </li>
        <li [ngbNavItem]="3" class="nav-item">
          <a ngbNavLink class="nav-link">Contact</a>
          <ng-template ngbNavContent>
            <p>lorem ipsum</p>
          </ng-template>
        </li>
        <li [ngbNavItem]="4" class="nav-item">
          <a ngbNavLink class="nav-link">Blog</a>
          <ng-template ngbNavContent>
            <p>Final navbar tab</p>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div [ngbNavOutlet]="nav"></div>

<!--<pre>Active: {{ active }}</pre>-->
