<header class="py-5 bg-light border-bottom mb-4">
  <div class="container">
    <div class="text-center my-5 header">
<!--
      <img height="200px" src="assets/images/members/Alexis%20Renderos.jpg" alt="Alexis Renderos">
-->
      <h1 class="fw-bolder">Alexis Renderos</h1>
      <p class="lead mb-0">SHPE has provided great opportunities and experiences that have helped me grow as a leader and person. It is great to be part of a familia that values the same values I have. SHPE has not only helped me grow my professional network, it also introduced me to amazing friends. I am proud to be a member of a chapter that strives to promote Hispanics in STEM through professional development and community engagement.</p>
    </div>
  </div>
</header>
