.btn-img {
  margin: 8px;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.btn-img:hover img {
  opacity: 0.8;
}

.btn-primary {
  color: #205878;
  background-color: #fff;
  border-color: #0073aa;
}
.btn-primary:hover {
  color: #205878;
  background-color: #e3dccc;
  border-color: #e3dccc;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #033c5a;
  color: #fff;
  /*
  Alternative scheme:
  background-color: #e3dccc;
  color: #205878;
  */
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
